## Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('Data/Bike price dataset/Used_Bikes.csv')

In [4]:
dataset.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [5]:
dataset.info

<bound method DataFrame.info of                                   bike_name     price       city  kms_driven  \
0        TVS Star City Plus Dual Tone 110cc   35000.0  Ahmedabad     17654.0
1               Royal Enfield Classic 350cc  119900.0      Delhi     11000.0
2                      Triumph Daytona 675R  600000.0      Delhi       110.0
3                      TVS Apache RTR 180cc   65000.0  Bangalore     16329.0
4      Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  Bangalore     10000.0
...                                     ...       ...        ...         ...
32643                Hero Passion Pro 100cc   39000.0      Delhi     22000.0
32644                  TVS Apache RTR 180cc   30000.0     Karnal      6639.0
32645              Bajaj Avenger Street 220   60000.0      Delhi     20373.0
32646             Hero Super Splendor 125cc   15600.0     Jaipur     84186.0
32647                    Bajaj Pulsar 150cc   22000.0       Pune     60857.0

             owner   age  power          brand
0      First Owner   3.0  110.0            TVS
1      First Owner   4.0  350.0  Royal Enfield
2      First Owner   8.0  675.0        Triumph
3      First Owner   4.0  180.0            TVS
4      First Owner   3.0  150.0         Yamaha
...            ...   ...    ...            ...
32643  First Owner   4.0  100.0           Hero
32644  First Owner   9.0  180.0            TVS
32645  First Owner   6.0  220.0          Bajaj
32646  First Owner  16.0  125.0           Hero
32647  First Owner  13.0  150.0          Bajaj

[32648 rows x 8 columns]>

In [ ]:
dataset.